@model List<GTIAspMVC.Models.GTICliente>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table th {
            color: #fff;
            background-color: #05aa6e;
            text-align: left;
        }

        table tr:hover {
            background-color: #ddd;
        }
</style>  
<h1>Clientes</h1>
<div>
    <a href="/">Voltar</a>
    <a href="/clientes/adicionarEditar">Adicionar</a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.CPF</td>
                <td>
                    <a asp-action="adicionarEditar" asp-controller="Clientes"
                       asp-route-id="@cliente.Id">Editar</a>

                    <a asp-action="confirmarExclusao" asp-controller="Clientes"
                       asp-route-id="@cliente.Id">Excluir</a>                    
                </td>
            </tr>
            }
                
        </tbody>
    </table>
</div>